.App {
  background-image: url("https://images6.alphacoders.com/568/568500.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.App-header {
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.938);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 321px) {
    .App-header{
      height: 80vh;
      padding: 5%;
    }
}

